.gallery-row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.gallery-column {
  flex-grow: 1;
}

.gallery-column + .gallery-column {
  margin-left: 8px;
}

.gallery-column img {
  margin-bottom: 8px;
  vertical-align: middle;
  width: 100%;
}
