body {
  font-family: Times;
  font-size: 15px;
  max-width: --page-width;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  color: black;
  font-size: 30px;
}

h2 {
  color: black;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3{
  color: black;
  font-size: 15px;
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Disable selection */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.feature-content {

}
.double-photo{
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column-left {
  display: inline-block;
  border-style: solid;
  width: 340px;
  border-width: 3px;
  margin-right: 2px;
}
.column-right {
  display: inline-block;
  border-style: solid;
  width: 340px;
  border-width: 3px;
  margin-left: 2px;

}

.image-border{
   border-style: solid;
  width: 694px;
  border-width: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.set-width{
  width:700px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
/* Remember to ask Seb how this works.
img:hover {
  transform: scaleX(-1);
}
*/
#highlight{
  background-color: skyblue;
}

.bold-text{
font-weight: bold;
}
