:root{
  --page-width:700px;
}

body {
  font-family: Times;
  font-size: 15px;
  max-width: --page-width;
  margin-right: auto;
  margin-left: auto;
}
h1 {
  color: black;
  font-size: 30px;
}

h2 {
  color: black;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3{
  color: black;
  font-size: 15px;
}
/* Disable selection */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.feature-content {

}
.vignette-photo{
  width: 340px;
  height: 200px;
  float:left;
  padding: 5px;
  margin-bottom: 10px;
}
.set-width{
  width:700px;
  margin-left: auto;
  margin-right: auto;
}
/* Remember to ask Seb how this works.
img:hover {
  transform: scaleX(-1);
}
*/
#highlight{
  background-color: skyblue;
}
