.centered {
  text-align: center;
}


.row {
  margin: : auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.main-title {
  vertical-align: center; 
  margin-top: 20px;
  margin-bottom: 20px;

}

.middle {
  margin: auto;
}

